<template>
  <div>
    <h1>Shortened URLS</h1>
    <p>
      This URL shortener has been made with 
      <a href="https://gridsome.org/">
        Gridsome
      </a>. 
      How : 
      <a href="https://framagit.org/marc-bouvier/u-baldir-fr/blob/master/making-of.md">
        see the making of.
      </a>
    </p>
    <ul>
        <li v-for="edge in $page.urls.edges" :key="edge.node.id">
            <a :href="edge.node.destinationUrl">
              {{edge.node.tinyUrl}}
            </a> 
            ({{edge.node.destinationUrl}}) : {{edge.node.description}}
        </li>
    </ul>
  </div>
</template>

<page-query>
{
  urls: allUrl(sort: [{by: "edges.nodes.tinyUrl", order: ASC}]) {
    edges {
      node {
        tinyUrl
        destinationUrl
        description
      }
    }
  }
}
</page-query>
