<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
        /** Inspiré de https://www.swyx.io/css-100-bytes */
        html {
            max-width: 70ch;
            padding: 3rem 1rem;
            margin: auto;
            line-height: 1.75;
            font-size: 1.25rem;
            font-family: system-ui;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 3rem 0 1rem;
        }

        p, ul, ol {
            margin-bottom: 2rem;
            color: #1d1d1d;
            font-family: sans-serif;
        }

        /* Adaptations pour mobile */
        @media screen and (max-width: 480px) {

            html {
                padding-top: 0;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 1rem 0 1rem;
            }

        }

        code {
            overflow-wrap: anywhere;
        }
    </style>
</head>

<body>
<h1>{{ page.title }}</h1>
<section>
    {{ content }}
</section>
<footer>
    <p>
        <a href="{{ site.repository }}">Source code</a> of this site.
    </p>
    <p>Statically generated with love with <a href="https://jekyllrb.com/">Jekyll</a>.</p>
    <p>This site</p>
    <ul>
        <li>does not require javascript to be activated;</li>
        <li>does not use any third party</li>
        <li>have minimalist style</li>
        <li>does not collect any data or cookies;</li>
    </ul>
</footer>
</body>

</html>
